body { }

.image {
/*    background: url("gfx/berken.png");
    background-size:contain; */
    width: 50%;
    margin: 0 auto;
}

.bottom {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
}

.wrapper {
    text-align: center;
}

.block {
    display: inline-block;
    vertical-align: top;
    margin-left: 10em;
    margin-right: 10em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    box-shadow: 10px 10px 5px #888888;
}

.lead {
    text-align: center;
}

.contact {
    text-align: center;
}

.telefoon {

}

.email {

}

.name {
    text-align: center;
}
